<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="menu">
    <div class="head-menu">
      <div class="icon-menu">
        <mat-icon class="icon-m">menu</mat-icon>
      </div>
      <div class="container-img">
        <img class="logo" src="../../../../assets/logos/logo.svg" alt="">
      </div>
    </div>
    <div class="information">
        <div class="container-img-prof">
          <mat-icon class="img-prof">catching_pokemon</mat-icon>
        </div>
        <div class="container-info">
          <p class="name-user">Nombre usuario</p>
          <p class="rol-user">Rol usuario</p>
        </div>
    </div>

    <div class="options-menu">
      <ul class="container-menu">
        <li class="option"><mat-icon class="logo-menu">summarize</mat-icon> <a href="" class="option-menu">Reportes</a></li>
        <li class="option"><mat-icon class="logo-menu">watch_later</mat-icon> <a href="" class="option-menu">Historico de llamadas</a></li>
        <li class="option"><mat-icon class="logo-menu">person</mat-icon> <a href="" class="option-menu">Usuarios</a></li>
      </ul>
    </div>
  </mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>